In [1]:
import pandas as pd

In [2]:
dataset = "/home/chinmayee/my_machine_learning_journey/100_Days_of_code_challenge/Dataset/E_commerce_data.csv"
df= pd.read_csv(dataset)
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

## Let's generate some features from the datetime(InvoiceDate) feature

In [3]:
#df['timestemp'] = pd.to_datetime(df['InvoiceDate'], format = '%m/%d/%Y %H:%M')
timestemp_dt= pd.to_datetime(df['InvoiceDate'], format = '%m/%d/%Y %H:%M').dt
#df['date'] = pd. to_datetime(df['InvoiceDate']). dt

#df['time'] = pd. to_datetime(df['InvoiceDate']). dt. time

In [4]:
df['day'] = timestemp_dt.day
df['day_name'] = timestemp_dt.day_name()
df['weekOfyear'] = timestemp_dt.isocalendar().week 
df['dayofweek'] = timestemp_dt.dayofweek
df['dayofyear'] = timestemp_dt.dayofyear
df['quarter'] = timestemp_dt.quarter
df['month'] = timestemp_dt.month
df['month_name'] = timestemp_dt.month_name()
df.tail(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,day,day_name,weekOfyear,dayofweek,dayofyear,quarter,month,month_name
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France,9,Friday,49,4,343,4,12,December
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France,9,Friday,49,4,343,4,12,December
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France,9,Friday,49,4,343,4,12,December
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France,9,Friday,49,4,343,4,12,December
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France,9,Friday,49,4,343,4,12,December
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France,9,Friday,49,4,343,4,12,December
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France,9,Friday,49,4,343,4,12,December
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France,9,Friday,49,4,343,4,12,December
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France,9,Friday,49,4,343,4,12,December
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France,9,Friday,49,4,343,4,12,December
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France,9,Friday,49,4,343,4,12,December
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France,9,Friday,49,4,343,4,12,December
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France,9,Friday,49,4,343,4,12,December
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France,9,Friday,49,4,343,4,12,December
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France,9,Friday,49,4,343,4,12,December

In [5]:
df['is_month_start'] = timestemp_dt.is_month_start # Indicates whether the date is the first day of the month.
df['is_month_end'] = timestemp_dt.is_month_end # Indicates whether the date is the last day of the month.
df['is_quarter_start'] = timestemp_dt.is_quarter_start
df['is_quarter_end'] = timestemp_dt.is_quarter_end
df['is_year_start'] = timestemp_dt.is_year_start
df['is_year_end'] = timestemp_dt.is_year_end
df['is_leap_year'] = timestemp_dt.is_leap_year
df['daysinmonth'] = timestemp_dt.daysinmonth # The number of days in the month.
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,day,day_name,...,month,month_name,is_month_start,is_month_end,is_quarter_start,is_quarter_end,is_year_start,is_year_end,is_leap_year,daysinmonth
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,1,Wednesday,...,12,December,True,False,False,False,False,False,False,31
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,1,Wednesday,...,12,December,True,False,False,False,False,False,False,31
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,1,Wednesday,...,12,December,True,False,False,False,False,False,False,31
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,1,Wednesday,...,12,December,True,False,False,False,False,False,False,31
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,1,Wednesday,...,12,December,True,False,False,False,False,False,False,31
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom,1,Wednesday,...,12,December,True,False,False,False,False,False,False,31
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom,1,Wednesday,...,12,December,True,False,False,False,False,False,False,31
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom,1,Wednesday,...,12,December,True,False,False,False,False,False,False,31
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom,1,Wednesday,...,12,December,True,False,False,False,False,False,False,31
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom,1,Wednesday,...,12,December,True,False,False,False,False,False,False,31